<IfModule mod_rewrite.c>
  Options -MultiViews
  RewriteEngine On
  RewriteBase /

  DirectoryIndex index.html

  # NEXT.JS MAPPER (Sirf yahi ek rule chahiye!)
  # Ye bina redirect kiye silently backend mein .html serve karega
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{DOCUMENT_ROOT}/$1.html -f
  RewriteRule ^(.*)$ $1.html [L]

  # 404 Error
  ErrorDocument 404 /404.html
</IfModule>